/**********ALL**********/
body {
	margin: 0;
	padding: 0;
	display: flexbox;
	justify-content: center;
	/* align-items: center; */
	/* min-height: 200vh; */
	background: black;
	font-family: "Saira", sans-serif;
	text-align: center;
	color: white;
}
/**********GLOBAL CLASSES**********/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/**********LUKROWANE GUZICZKI**********/

.menuUnreal {
	display: flexbox;
	align-items: center;
	padding: 20px 0;
	height: 80px;
}

.menuUnreal a {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 20px;
	overflow: hidden;
	transition: 0.2;
}

.menuUnreal a:hover {
	color: #255784;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	transition-delay: 0.5s;
}

.menuUnreal a span {
	position: absolute;
	display: block;
}

.menuUnreal a span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #2196f3);
}

.menuUnreal a:hover span:nth-child(1) {
	left: 100%;
	transition: 0.5s;
}

.menuUnreal a span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #2196f3);
}

.menuUnreal a:hover span:nth-child(3) {
	right: 100%;
	transition: 0.5s;
	transition-delay: 0.25s;
}

.menuUnreal a span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #2196f3);
}

.menuUnreal a:hover span:nth-child(2) {
	top: 100%;
	transition: 0.5s;
	transition-delay: 0.125s;
}

.menuUnreal a span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #2196f3);
}

.menuUnreal a:hover span:nth-child(4) {
	bottom: 100%;
	transition: 0.5;
	transition-delay: 0.375s;
}

/**********(2) NAVIGATION MENU**********/
nav {

    height: 80px;
    background: rgba(0, 0, 0, .8);
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    position: sticky;
    top: 0;
    width: 100%;
    font-family: 'Saira', sans-serif;
    z-index: 1;
    overflow: hidden;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 700;
}

nav ul {
    margin-right: 20px;
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    display: block;
    color: #fff;
    padding: 0px 13px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 80px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: orange;
}

nav ul li a.active {
    background: orange;
}

.checkbutton {
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/**********(2.5) NAVIGATION MENU MEDIA**********/
@media (max-width:1240px) {
    label.logo {
        font-size: 30px;
        padding-left: 20px;
    }

    nav ul li {
        font-size: 16px;
    }
}

@media (max-width:1240px) {
    .checkbutton {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, .8);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
		padding: 0px;
        /* list-style: */
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        font-size: 4vh;
        line-height: 10vh;
    }

    a:hover,
    a.active {
        background: none;
        color: white;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

/**********(2) NEW HEADER SECTION**********/

.newHeader {
    display: flex;
    position: relative;
    height: 60vh;
    background: rgba(0, 0, 0, .6) url(/media/bgNewHeader3.jpg);
	background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
	/* background-blend-mode:color; */
}

.wrapAbout{

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 50%;
}

.wrapAbout div{
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.linkAbout{
	height: 70%;
}
.linkResume{
	height: 70%;
}

.linkAbout img{
	transition: 0.5s ease;
}
.linkResume img{
	transition: 0.5s ease;
}


.wrapAbout div a img{
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
	border-radius: 50%;
}

.wrapAbout div p{
    font-family: "Saira Condensed", sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: white;
    text-transform: none;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 0vh;
    padding-bottom: 0vh;
}

.vl {
	border: 3px solid #10a5af;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    border-radius: 7px;
}

.about a img:hover{
	border-radius:20%;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	transition: 0.5s ease;
}
.resume a img:hover{
	border-radius:20%;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	transition: 0.5s ease;
}

/***************************************************************BAR*****************************************************************/

.bar{
    font-size: 5.5vh;
    color: white;
    text-transform: uppercase;
	padding: 40px 0;
}

/*****************************************************************PORFOLIO******************************************************************/

/* .portfolio{
    padding: 50px;
} */


.portfolio .item {
    position: relative;
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio .item:nth-of-type(1) {
    background-image: url(../media/unreal_projects1.jpg);
}

.portfolio .item:nth-of-type(2) {
    background-image: url(../media/passion1.jpg);
}

.portfolio .item:nth-of-type(3) {
    background-image: url(../media/frontend.jpg);
}

.portfolio .item:nth-of-type(4) {
    background-image: url(../media/other.jpg);
}

.portfolio .item:nth-of-type(5) {
    background-image: url(../media/sports.jpg);
}

.portfolio .item:nth-of-type(6) {
    background-image: url(../media/podcast.jpg);
}

.portfolio .item .butt {
    border: solid white 2px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    height: 30%;
    width: 40%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;

}

.portfolio .item a {
    display: flex;
    top: 50%;
    font-family: 'Saira', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 0 0 4px black;
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.portfolio .item p {
    font-family: 'Saira', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .5);
    font-size: 20px;
    padding: 5px 0;
}

.portfolio h1 {
    color: black;
    text-align: center;
    font-size: 5vh;
    font-weight: 700;
    padding: 20px 0;
}

@media (orientation:landscape) {
    .portfolio .item {
        float: left;
        width: 50%;
        height: 40vh;
        font-family: 'Saira Condensed', sans-serif;
    }

    .portfolio .item .butt {
        border: solid white 2px;
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        height: 25%;
        width: 40%;
        top: 80%;
        left: 78%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    }

    .portfolio .item .butt a {
        font-size: 14px;
    }

    .portfolio .item p {
		margin: 0;
        line-height: 40vh;
    }
}

@media (orientation:landscape) and (min-width: 953px) {
    .portfolio .item .butt a {
        font-size: 16px;
    }

    .portfolio .item p {
        font-size: 26px;
    }
}

@media (min-width: 1024px) {
    .portfolio .item:hover {
        background-color: rgba(0, 0, 0, 0);
    }

    .portfolio .item {
        background-size: 115%;
        transition: 1s;
    }

    .portfolio .item:hover {
        background-size: 140%;
    }
}

.portfolio .item a:hover {
    background-color: white;
    color: black;
}


/*****************************************************(2) PASSIONS*******************************************************/
.passions .item {
    position: relative;
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.passions .item:nth-of-type(1) {
    background-image: url(../media/mathematics.jpg);
}

.passions .item:nth-of-type(2) {
    background-image: url(../media/poetry.jpg);
}

.passions .item:nth-of-type(3) {
    background-image: url(../media/digitalgamestudies.jpg);
}

.passions .item:nth-of-type(4) {
    background-image: url(../media/playinggames.jpg);
}

.passions .item:nth-of-type(5) {
    background-image: url(../media/sports.jpg);
}

.passions .item:nth-of-type(6) {
    background-image: url(../media/podcast.jpg);
}

.passions .item .butt {
    border: solid white 2px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    height: 30%;
    width: 40%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;

}

.passions .item a {
    display: flex;
    top: 50%;
    font-family: 'Saira', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 0 0 4px black;
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.passions .item p {
    font-family: 'Saira', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .5);
    font-size: 20px;
    padding: 5px 0;
}

.passions h1 {
    color: black;
    text-align: center;
    font-size: 5vh;
    font-weight: 700;
    padding: 20px 0;
}

@media (orientation:landscape) {
    .passions .item {
        float: left;
        width: 50%;
        height: 40vh;
        font-family: 'Saira Condensed', sans-serif;
    }

    .passions .item .butt {
        border: solid white 2px;
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        height: 25%;
        width: 40%;
        top: 80%;
        left: 78%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    }

    .passions .item .butt a {
        font-size: 14px;
    }

    .passions .item p {
		margin: 0;
        line-height: 40vh;
    }
}

@media (orientation:landscape) and (min-width: 953px) {
    .passions .item .butt a {
        font-size: 16px;
    }

    .passions .item p {
        font-size: 26px;
    }
}

@media (min-width: 1024px) {
    .passions .item:hover {
        background-color: rgba(0, 0, 0, 0);
    }

    .passions .item {
        background-size: 115%;
        transition: 1s;
    }

    .passions .item:hover {
        background-size: 140%;
    }
}

.passions .item a:hover {
    background-color: white;
    color: black;
}














/********************** UNREAL LOGO *********************/

.unrealLogo {
	width: 50%;
	margin-top: 20px;
	margin-bottom: 60px;
}

@media (min-width: 952px) {
	.unrealLogo {
		width: 20%;
	}
}

/********************** PROJECTS DROPDOWN  *********************/

.wrapperUnreal {
	display: flexbox;
	/* padding-top: 50px; */
	/* justify-content: center; */
	/* align-items: center; */
	/* text-align: center; */
	margin-left: auto;
	margin-right: auto;
	width: 50%;
    padding-bottom: 300px;
}

@media (max-width: 952px) {
	.wrapperUnreal {
		width: 90%;
	}
}

.collapsible {
	overflow: hidden;
	font-weight: 500;
	border: white 4px;
}

.collapsible input {
	display: none;
}

.collapsible label {
	text-transform: uppercase;
	position: relative;
	font-size: 24px;
	font-weight: 600;
	background: black;
	border-style: solid;
	border-color: #2196f3;
	box-shadow: 0 0 20px #2196f3;
	/* box-shadow: 0 5px 11px 0 rgba(0,0,0 .1), 0 4px 11px 0 rgba(0,0,0 .0); */
	color: white;
	display: block;
	margin-bottom: 10px;
	cursor: pointer;
	padding: 15px 0;
	border-radius: 4px;
	z-index: 1;
}

@media (max-width: 952px) {
	.collapsible label {
		font-size: 14px;
	}
}

.collapsible label:after {
	content: "";
	position: absolute;

	background: url(/media/a-right.png) no-repeat 0 0 ;
    right: 15px;
	top: 22px;
	width: 20px;
	height: 20px;
    background-size: cover;
    /* background: border-box red; */
	transition: all 0.3s ease;
}

@media (max-width: 952px) {
	.collapsible label:after {
		background: none;
	}
}

.collapsible input:checked + label:after {
	transform: rotate(90deg);
}

.collapsible-content {
	font-size: 20px;
	max-height: 1px;
	overflow: hidden;
	border-radius: 4px;
	line-height: 1.4;
	position: relative;
	top: -100%;
	opacity: 1;
	transition: all 0.3s ease;
	margin-bottom: 10px;
    padding-top: 10px;
}

.collapsible input:checked ~ .collapsible-content {
	max-height: 800px;
	padding-bottom: 25px;
	background: #2195f38e;
	/* box-shadow: 0 5px 11px 0 rgba(0,0,0 .1), 0 4px 11px 0 rgba(0,0,0 .0); */
	top: 0;
}

.collapsible-content p {
	padding-left: 15px;
	padding-right: 15px;
}

.videoUnreal {
    padding-top: 10px;
	width:100%;
}

/*************************** GO TO TOP *****************************/

.goToTop a {
	color: #1edb17;
}

.goToTop a:hover {
	color: #1d9719;
	background: #1edb17;
	box-shadow: 0 0 10px #1edb17, 0 0 40px #1edb17, 0 0 80px #1edb17;
	transition-delay: 0.5s;
}
.goToTop a span:nth-child(1) {
	background: linear-gradient(90deg, transparent, #1edb17);
}

.goToTop a span:nth-child(3) {
	background: linear-gradient(270deg, transparent, #1edb17);
}

.goToTop a span:nth-child(2) {
	background: linear-gradient(180deg, transparent, #1edb17);
}

.goToTop a span:nth-child(4) {
	background: linear-gradient(360deg, transparent, #1edb17);
}

/**********(2) CONTACT**********/

.contact {
    background-color: black;
    padding: 20px 10px;
}

.contact h1 {
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    text-align: center;
    font-size: 5vh;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.contact .wrap {
    padding-top: 20px;
    max-width: 1024px;
    margin: 0 auto;
}

.contact input,
.contact button,
.contact textarea {
    width: 100%;
    margin-bottom: 25px;
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    padding: 5px;
}


.contact input {
    font-size: 12px;
    height: 36px;
    padding: 5px;
}

.contact textarea {
    height: 120px;
}

.contact button {
    font-size: 14px;
    line-height: 40px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.contact .socials {
    padding-top: 30px;
    font-size: 0;
}

.contact .social {
    padding: 10px 0;
    color: white;
    font-family: 'Saira Condensed', sans-serif;

}

.contact .social img {
    float: left;
}

.contact .social span {
    line-height: 72px;
    padding-left: 20px;
    float: left;
    font-size: 16px;
}

@media (min-width: 570px) {
    .contact .social {
        display: inline-block;
        width: 50%;
    }
}

@media (min-width: 1024px) {

    .contact form,
    .contact .socials {
        float: left;
        width: 50%;
        padding-top: 0;
    }

    .contact .social {
        display: block;
        width: 50%;
        margin: 0 auto;
        padding: 5 20px;
    }

    .contact .social span {
        font-size: 16px;
    }

    .contact input,
    .contact button,
    .contact textarea {
        margin-bottom: 35px;

    }

    .contact input {
        font-size: 24px;
        height: 46px;
        padding: 5px;
    }

    .contact textarea {
        height: 180px;
        font-size: 24px;
    }

    .contact button {
        font-size: 20px;
        line-height: 50px;
        transition: .5s;
        cursor: pointer;
    }

    .contact button:hover {
        color: black;
        background-color: white;

    }

}

.gallery{
    position: relative;
    display: flexbox;
    justify-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    
}

.gallery img{

    width: 100%;
}








/**********(2) FOOTER**********/
footer {
    background-color: #000000;
    color: white;
    font-family: 'Saira', sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}